@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@import "/src/constant.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-placeholder);
}
