.myPageWithdrawal {
  width: 450px;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 200px;
  height: calc(100vh - 246px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.pw {
  margin: 0.4rem 0;
  height: 45px;
  padding: 8px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--color-input-border);
  box-shadow: 1px 1px 3px 1px lightgray;
}

.pw:focus {
  border: 1px solid var(--color-theme);
}

.submit_button {
  margin: 0.8rem 0;
  height: 45px;
  font-size: 1.45rem;
  color: white;
  outline: none;
  border: none;
  background-color: var(--color-dark-theme);
  box-shadow: 1px 1px 3px 1px var(--color-dark-theme);
  border-radius: 8px;
  cursor: pointer;
}
