@import "/src/constant.css";

.main_page {
  width: 100%;
}

.main_top {
  margin-top: 110px;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../cardImages/export_look.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 170px;
}

.main_top_title {
  color: white;
  font-size: 72px;
  font-weight: 700;
}

.main_top_text {
  color: var(--color-theme);
  font-size: 24px;
  font-weight: 500;
}

.main_top_button {
  margin-top: 16px;
  width: 180px;
  height: 55px;
  font-size: 22px;
  font-weight: 500;
  outline: none;
  border: 2px solid var(--color-theme);
  background-color: transparent;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 150ms all ease-in;
}

.main_top_button:hover {
  transform: scale(1.02);
}

.main_page_desc {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_page_desc_subtitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-theme);
}

.main_page_desc_title {
  font-size: 28px;
  font-weight: 500;
}

.main_page_desc_contents {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.contents_item {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_container {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 64px;
  color: var(--color-theme);
}

.contents_title {
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0;
}

.contents_desc {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-desc);
}

.intro {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.look_title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  cursor: default;
}

.look {
  width: 55%;
  height: 20rem;
  text-align: center;
  box-shadow: 3px 5px 5px 3px lightgray;
  border-radius: 1rem;
  background: url("../../cardImages/export_look.jpg") center/cover no-repeat;
  transition: all 150ms ease;
  position: relative;
}

.look_filter {
  width: 100%;
  height: 100%;
  transition: all 150ms ease;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.look_filter:hover {
  backdrop-filter: brightness(50%);
}

.look_desc {
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  cursor: default;
}

.look_detail_view {
  padding-top: 3rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.look_detail_view:hover {
  transform: scale(1.1);
}

.fareExpect_title {
  margin: 6rem 0 2rem 0;
  font-size: 3rem;
  font-weight: 500;
  cursor: default;
}

.fareExpect {
  width: 55%;
  height: 20rem;
  text-align: center;
  box-shadow: 3px 5px 5px 3px lightgray;
  border-radius: 1rem;
  background: url("../../cardImages/sheep.jpg") center/cover no-repeat;
  transition: all 150ms ease;
  position: relative;
}

.fareExpect_filter {
  width: 100%;
  height: 100%;
  transition: all 150ms ease;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fareExpect_filter:hover {
  backdrop-filter: brightness(50%);
}

.fareExpect_desc {
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  cursor: default;
}

.fareExpect_detail_view {
  padding-top: 3rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.fareExpect_detail_view:hover {
  transform: scale(1.1);
}
