.list_item {
  border-top: 1px solid lightgray;
  background-color: white;
}

.list_item_first {
  border: none;
  background-color: white;
}

.list_item_last {
  border-top: 1px solid lightgray;
  border-radius: 0 0 8px 8px;
  background-color: white;
}

.item:hover {
  background-color: rgb(247, 247, 247);
}

.item {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
}

.pol_item {
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
}

.title {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 10px;
}

.icon_container {
  cursor: pointer;
}

.content_container {
  padding: 12px;
  animation: viewContent 1s;
}

.export_content_text_container {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-article);
  white-space: pre-line;
  background-color: var(--color-smoke-white);
  border-radius: 8px;
  padding: 1rem;
  padding-bottom: 2rem;
}

.policy_title_container {
  padding: 0.5rem;
}

.title_org_name {
  font-size: 16px;
  font-weight: 500;
  padding: 2px 6px;
  background-color: var(--color-theme);
  border-radius: 8px;
  color: white;
}

.title_business_name {
  font-size: 20px;
  margin-top: 6px;
}

.export_content {
  margin-top: 15px;
}

.policy_content_container,
.organization_content_container {
  padding: 1rem;
  color: var(--color-article);
  background-color: var(--color-smoke-white);
  border-radius: 8px;
}

.policy_url,
.organization_url {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.export_title,
.policy_desc_title,
.policy_url_title,
.policy_contact_title,
.organization_url_title,
.organization_contact_title {
  font-size: 18px;
  border-bottom: 2px solid var(--color-theme);
}

.policy_desc,
.policy_contact {
  white-space: pre-line;
}

.policy_desc,
.policy_url_a_box,
.policy_contact,
.organization_desc,
.organization_url_a_box,
.organization_contact {
  font-size: 18px;
  margin: 0.8rem 0 1.5rem 0.4rem;
}

@keyframes viewContent {
  from {
    opacity: 0;
    max-height: 0px;
  }
  to {
    opacity: 1;
    max-height: 2000px;
  }
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 1.2rem;
  }

  .export_title,
  .policy_desc_title,
  .policy_url_title,
  .policy_contact_title,
  .organization_url_title,
  .organization_contact_title {
    font-size: 16px;
  }

  .policy_url,
  .organization_url {
    font-size: 16px;
  }

  .policy_desc,
  .policy_url_a_box,
  .policy_contact,
  .organization_desc,
  .organization_url_a_box,
  .organization_contact {
    font-size: 16px;
  }

  .export_content_text_container {
    font-size: 1.1rem;
  }

  .pol_item {
    height: 7.5rem;
    padding: 0 0.5rem;
  }

  .title_org_name {
    font-size: 14px;
  }

  .title_business_name {
    font-size: 18px;
    padding-right: 20px;
  }

  .item:hover {
    background-color: rgb(255, 255, 255);
  }
}
