.listItem {
  border: 1px solid lightgray;
  cursor: default;
}

.item {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 400;
}

.icon_container {
  cursor: pointer;
}

.content_container {
  padding: 0.5rem 0 2rem 1rem;
}

.content {
  font-size: 1.2rem;
  font-weight: 400;
}
