.header {
  background-color: var(--color-light-theme);
  border-radius: 8px 8px 0 0;
  width: 760px;
}

.title {
  padding: 1.2rem 0;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: default;
}

.list_table {
  border: 1px solid lightgray;
  width: 760px;
  margin: auto;
  box-shadow: 1px 3px 3px 1px lightgray;
  border-radius: 8px;
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 28px;
  }

  .list_table {
    width: 90%;
  }
}
