.reply {
  border-top: 1px solid lightgray;
  padding: 20px;
  animation: appear 0.8s;
}

.reply_first {
  border: none;
  padding: 20px;
  animation: addNewReply 0.8s;
}

.user_data_and_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user_data_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete_button {
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.name {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}

.date {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-desc);
}

.content {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
