@import "/src/constant.css";

.articleView {
  min-height: calc(100vh - 246px);
  width: 800px;
  margin: auto;
  margin-top: 200px;
}

.article {
  padding: 40px 50px;
  margin-bottom: 300px;
}

.title_container {
  width: 450px;
}

.title {
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: 500;
}

.user_data_and_button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.button_container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.button_container > button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.edit {
  color: var(--color-dark-theme);
  outline: none;
}

.delete {
  color: red;
  outline: none;
}

.recommand {
  padding-right: 8px;
  outline: none;
}

.recommand_count {
  font-size: 15px;
  font-weight: 300;
  padding-left: 8px;
  border-left: 1.8px solid lightgray;
  cursor: default;
}

.user_data_container {
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.writer {
  padding-right: 10px;
  border-right: 2px solid lightgray;
  font-size: 17px;
  font-weight: 300;
}

.date {
  padding-left: 10px;
  font-size: 17px;
  font-weight: 300;
}

.content_container {
  margin-top: 35px;
  margin-bottom: 150px;
}

.content {
  font-size: 22px;
  font-weight: 300;
  white-space: pre-line;
  overflow-wrap: break-word;
}
