.item {
  width: 220px;
  position: relative;
  margin: 50px;
}

.item_head_container {
  width: 220px;
  height: 220px;
  border: 1px solid lightgray;
  border-radius: 50%;
  box-shadow: 1px 3px 3px 1px var(--color-box-shadow-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_head {
  width: 150px;
  height: 150px;
}

.border_maker {
  width: 220px;
  height: 120px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  position: absolute;
  top: 110px;
}

.item_body {
  width: 220px;
  height: 240px;
  border: 1px solid lightgray;
  border-top: none;
  text-align: center;
  box-shadow: 1px 3px 3px 1px var(--color-box-shadow-light);
}

.name {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-article);
}

.go_consulting {
  position: absolute;
  bottom: 45px;
  left: 55px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background-color: var(--color-theme);
  padding: 4px 6px;
  border-radius: 4px;
  transition: 120ms all ease-in;
}

.go_consulting:hover {
  background-color: var(--color-dark-theme);
  box-shadow: 0 0 15px lightgray;
}
