.mypage_edit {
  height: 100vh;
  padding-top: 220px;
  background-color: var(--color-smoke-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 550px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.info_container {
  border-bottom: 1px solid lightgray;
}

.button_container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit_button,
.withdrawal_button {
  flex-basis: 49%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--color-theme);
  color: white;
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  transition: 100ms all ease-in;
  box-shadow: 0 0 10px rgb(221, 214, 214);
}

.edit_button:hover,
.withdrawal_button:hover {
  background-color: var(--color-theme-hover);
  box-shadow: 0 0 10px lightgray;
}
