.articlePreview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  font-weight: bolder;
  color: rgb(77, 77, 77);
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-article);
}

.articlePreview:hover {
  background-color: rgb(247, 247, 247);
}

.number {
  flex-basis: 5%;
  text-align: center;
}

.date {
  flex-basis: 20%;
  text-align: center;
}

.title {
  flex-basis: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-white-space: nowrap;
  overflow: hidden;
}

.reply {
  flex-basis: 5%;
  text-align: center;
}

.recommand {
  flex-basis: 5%;
  text-align: center;
}

.delete_container {
  flex-basis: 10%;
  text-align: center;
  transition: 150ms all ease-in;
}

.delete_button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: 140ms all ease-in;
}

.delete_button:hover {
  color: red;
}

.date_reply {
  flex-basis: 15%;
  text-align: center;
}

.content_reply {
  flex-basis: 35%;
}

.title_reply {
  flex-basis: 35%;
}
