.myPageEdit {
  min-height: 100vh;
  display: flex;
}

.myPageEdit_container {
  display: flex;
  flex-direction: column;
  width: 432px;
  margin: auto;
}

.myPageEdit_title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.id_input_container,
.nickname_input_container,
.phone_input_container,
.auth_num_input_container,
.pw_input_container {
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  padding: 8px;
  padding-right: 0;
  box-shadow: 1px 1px 3px 1px lightgray;
  margin-bottom: 1rem;
}

.id_input,
.nickname_input,
.auth_num_input,
.pw_input {
  flex-basis: 80%;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1.2rem;
}

.phone_input {
  flex-basis: 75%;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1.2rem;
}

.id_check_button,
.nickname_check_button,
.auth_num_check_button,
.pw_check_button {
  flex-basis: 20%;
  height: 30px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin: 5px;
  font-size: 90%;
}

.phone_check_button {
  flex-basis: 28%;
  height: 30px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin: 5px;
  font-size: 90%;
}

.checked {
  cursor: default;
}

.pw_new_input,
.pw_confirm_input {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  padding: 8px;
  box-shadow: 1px 1px 3px 1px lightgray;
  font-size: 1.2rem;
  outline: none;
  margin-bottom: 1rem;
}

.signup_submit_button {
  width: 100%;
  height: 45px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  background-color: var(--color-dark-theme);
  color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 1px var(--color-dark-theme);
  cursor: pointer;
}

.id_input_container:focus-within {
  border: 1px solid var(--color-theme);
}

.pw_input:focus-within {
  border: 1px solid var(--color-theme);
}

.nickname_input_container:focus-within {
  border: 1px solid var(--color-theme);
}

.phone_input_container:focus-within {
  border: 1px solid var(--color-theme);
}

.auth_num_input_container:focus-within {
  border: 1px solid var(--color-theme);
}

.disabled {
  background-color: rgba(235, 229, 229, 0.5);
  transition: 200ms all ease-in;
}

.disabled:hover {
  background-color: rgba(235, 229, 229, 0.9);
}

.disabled_button {
  flex-basis: 20%;
  height: 30px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin: 5px;
  font-size: 90%;
}

.disabled_phone_input {
  flex-basis: 80%;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1.2rem;
}
