.mypage_edit {
  height: 100vh;
  padding-top: 220px;
  background-color: var(--color-smoke-white);
}

.mypage_edit_body {
  width: 550px;
  margin: auto;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.info_container {
  border-bottom: 1px solid lightgray;
}
