.tracking {
  background-color: var(--color-smoke-white);
}

.main {
  min-height: 100vh;
  width: 1000px;
  margin: auto;
  padding: 180px 0;
}

.title {
  font-size: 32px;
  font-weight: 500;
  cursor: default;
}

.search_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.search_input {
  outline: none;
  flex-basis: 95%;
  height: 45px;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-right: 20px;
  border: 1px solid lightgray;
}

.search_input:focus {
  border: 1px solid var(--color-theme);
}

.search_icon {
  margin-top: 5px;
  flex-basis: 5%;
  font-size: 32px;
  cursor: pointer;
  color: var(--color-desc);
  transition: 150ms all ease-in;
}

.search_icon:hover {
  color: var(--color-article);
}

.view_result_container {
  border-radius: 1rem;
}

.ship_datas_container {
  height: 90px;
  padding: 15px 0;
  box-shadow: 0 6px 15px -4px rgb(223, 217, 217);
  border: 0.5px solid rgb(233, 226, 226);
  border-radius: 8px;
  margin-bottom: 35px;
  background-color: white;
  text-align: center;
}

.ship_data_container {
  display: flex;
  flex-direction: row;
}

.ship_data_item {
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
}

.ship_data_value {
  animation: fadeInAnimation 1s;
}

.long_value {
  flex-basis: 40%;
}

.short_value {
  flex-basis: 24%;
}

.ship_data_title {
  margin-bottom: 10px;
  font-size: 17px;
}

.result_datas_container {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 6px 15px -4px rgb(223, 217, 217);
  border: 0.5px solid rgb(233, 226, 226);
  margin-bottom: 10px;
}
.result_data_left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 30px;
}

.result_data_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.result_data_title {
  flex-basis: 30%;
  font-size: 17px;
  border-right: 2px solid var(--color-light-theme);
}

.result_data {
  flex-basis: 65%;
}

.result_data_value {
  animation: fadeInAnimation 1s;
}

.notice {
  color: #717171;
  margin-left: 4px;
  margin-top: 10px;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
